<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <title>Home</title>
</head>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <h3 class="text-secondary p-1">CODERHOUSE - eCommmerce Backend Final - Bienvenido <%= nombre %></h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <form id=buttonLogout class="d-flex" role="search">
                <a href="/logout.html?firstname=<%= nombre %>" class="btn btn-warning" tabindex="-1" role="button" aria-disabled="true">Logout</a>
            </form>
        </div>
        </div>
    </nav>
<body>        
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-sm-6">
                <h3 class="text-primary">Perfil del usuario</h3>
                <div id="areaProfile" style=" min-height:200px; max-height:200px; background:lightgrey; padding-top:20px; padding-left: 20px">
                    <div class="row">
                    <div class="col col-sm-4">
                        <img src="/uploads/<%= userpicture %>" width="150px">
                    </div>
                    <div class="col col-sm-6">
                        <h6>Username: <%= usuario %></h6>
                        <h6>First Name: <%= nombre %></h6>
                        <h6>Last Name: <%= apellido %></h6>
                        <h6>Telephone: <%= telephone %></h6>
                        <h6>User Level: <%= level %></h6>
                    </div>
                </div>
            </div>
        </div>
        <% if (level === 'Administrator') { %>
            <div class="row justify-content-center">
                <div class="col col-sm-8"><br>
                    <h3 class="text-primary">Environment Section (only admins)</h3>
                    <div id="areaProfile" style=" min-height:320px; max-height:320px; background:lightgrey; padding-top:20px; padding-left: 20px">
                            <div class="col col-sm-6">
                                <h6>level: <%= level %></h6>
                                <h6>oscpu: <%= oscpu %></h6>
                                <h6>expressport: <%= expressport %></h6>
                                <h6>database: <%= database %></h6>
                                <h6>dbuser: <%= dbuser %></h6>
                                <h6>dbcluster: <%= dbcluster %></h6>
                                <h6>dbname: <%= dbname %></h6>
                                <h6>runnningmode: <%= runnningmode %></h6>
                                <h6>adminmail: <%= adminmail %></h6>
                                <h6>adminwsp: <%= adminwsp %></h6>
                                <h6>sendmail: <%= sendmail %></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
            

        <div class="row justify-content-center">
            <div class="col col-sm-8"><br><br>
                <h3 class="text-primary">Centro de Mensajes</h3>
                <div id="areaChat" style="min-height:400px; max-height:400px;  background:lightgrey; overflow-wrap: break-word; overflow-y:scroll"></div>
                <form id="formMessage">
                    <em>Click sobre el email para responder a una persona o chat general click en <a id="melding" onclick="insertText(this)" href="javascript:void;">Todos</a></em><br><br>
                    <label>Usuario: <input type='id' name='idInput' id='idInput' value='<%= usuario %>' disabled=true>
                    </label><br>
                    <label>Nombre: <input type='nombre' name='nombreInput' id='nombreInput' value='<%= nombre %>' disabled=true>
                    </label><br>
                    <label>Apellido: <input type='apellido' name='apellidoInput' id='apellidoInput' value='<%= apellido %>' disabled=true>
                    </label><br>
                    <label>Alias: <input type='alias' name='aliasInput' id='aliasInput' value='<%= nombre %>_<%= apellido %>'>
                    </label><br>
                    <label>Responder a: <input type='targetMsg' name='targetMsgInput' id='targetMsgInput' value='Todos' disabled=true>
                    </label><br>
                    <label>Mensajes: <select type='myMsgs' name='myMsgInput' id='myMsgInput' value='Todos'>
                                        <option>Chat general</option>
                                        <option>Solo mis mensajes</option>
                                    </select>
                    </label><br>
                    <label>Mensaje: <input type='text' name='messageInput' id='messageInput' placeholder="mensaje"><br><br>
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </div><br><br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
    <script src="./ejs.min.js"></script>
    <script src="./client.js"></script>
</body>
</html>